@charset 'utf-8';

.order-card-section {

  &__table {
    border-collapse: collapse;
    border: 1px solid $brand-gray;
    border-top: 0;
    margin-bottom: 0;
    table-layout: fixed;
    width: calc(100% + 1px); // Hack to align all table borders
  }

  &__heading {
    font-weight: $global-weight-bold;
    text-align: left;
  }

  &__column {
    padding: $orders-spacing-small $orders-spacing-medium;

    &--right {
      text-align: right;
    }
  }

  &__spacer {
    padding-bottom: $orders-spacing-medium !important;
  }

  &__btn {
    margin-bottom: $orders-spacing-small;
  }
}
