.o-grid__col-label {
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}
.o-grid__margin {
  margin-right: 10px;
}
.o-grid__col-sublabel {
  text-align: center;
  background-color: lightgray;
}
.o-grid__data {
  text-align: right;
}
.o-grid__row-label {
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  background-color: lightgray;
}
