.c-entrygraph-elapsed {
  display: inline-block;
}
.c-entrygraph-size {
  display: inline-block;
}
.c-text-tiny {
  font-size: 10px;
}
.c-text-small {
  font-size: 12px;
}
.c-text-normal {
  font-size: 16px;
}