.c-grouptag {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Arial";
  font-size: small;
  font-weight: bolder;
  margin: 2px;
  min-width: 20px;
  padding: 0 2px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.c-grouptag.c-grouptag--google {
  background: linear-gradient(-90deg, #4285f4 25%, #34a853 50%, #fbbc05 75%, #ea4335 100%);
  color: white;
  font-family: "Arial Black";
}
.c-grouptag.c-grouptag--all {
  color: white;
  font-family: "Arial Black";
  font-size: large;
  line-height: 1em;
}
.c-grouptag.c-grouptag--insight {
  background: #A80B6E;
  color: white;
  font-family: "Arial Black";
}
.c-grouptag.c-grouptag--insight-images {
  background: #9F177A;
  color: white;
  font-family: "Arial Black";
}
.c-grouptag--roundrect {
  font-family: "Arial Narrow";
  border-radius: 3px;
}
.c-grouptag--round {
  font-family: "Arial Narrow";
  border-radius: 1em;
}
.c-grouptag--rect {
  font-family: "Arial Narrow";
}
