/* ==========================================================================
   #DESCRIPTION LIST
   ========================================================================== */

.c-description__list-item {
  margin-bottom: $global-spacing-unit-small;
}

.c-description-list__term {
  display: block;
  font-weight: $global-font-weight-bold;
}
