.c-gallery-images {
  height: 400px;
  overflow-y: auto;
}

.c-gallery-image__delete {
  padding: 0;
}

.c-gallery-image__button {
  padding: 0;
}

.c-gallery-image__item {
  height: 150px;
  width: auto;
}


