$search-input-maximum-width: 625px;

.c-search-input {
   max-width: $search-input-maximum-width;
}

.c-search__button {
  display: flex;
  align-self: baseline;
}

.c-cs-result__type {
  border-width: $global-input-border-width;
  border-style: solid;
  border-color: $color-warm-gray-5;
  background-color: $color-warm-gray-custom-light;
  padding: $global-spacing-unit-tiny $global-spacing-unit;
}

.c-search-field {
  margin-bottom: 0 !important;
}

.c-cs-search-bar {
  position: relative;
}

.c-button--primary {
  height: $global-spacing-unit-small * 3;
  padding-left: $global-spacing-unit-tiny !important;
  padding-right: $global-spacing-unit-tiny !important;
  background-color: $color-link;
  color: $color-white;

  &:hover {
    background-color: $color-link-hover;
    color: $color-white;
  }
}

.search-bar__closeicon {
  position: absolute;
  right: $global-spacing-unit-tiny;
  top: $global-spacing-unit-tiny;
}
