*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

abbr {
	text-decoration: none;
}

.c-app-views {
	height: 100%;
}

.c-app-views--loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 70px);
}

@import '~@insight/toolkit-css-core/src/_all';
@import '~@insight/toolkit-css-ui';
@import 'tools/index';
@import 'components/index';
@import 'pages/index';
