.tracking-history__date-header {
  background: $brand-lightgray;
}

.tracking-history__label {
  font-size: $font-size-small;
  margin-bottom: $orders-spacing-small
}

.tracking-history .orders__link{    
    margin-bottom: 20px;
    display: block;
}