@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.c-modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 10vh;
	animation: fadeIn 150ms ease-in;
	z-index: 8000;
	background: rgba(0, 0, 0, 0.6);

	> div {
		width: 750px;
	}
}
