.c-submission-modal__footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	.c-button {
		width: 100%;
	}

	@include mq($from: tablet) {
		flex-direction: row;
		justify-content: space-around;

		.c-button {
			width: 40%;
		}
	}

	@include mq($from: desktop) {
		justify-content: flex-end;

		.c-button {
			width: 20%;
		}
	}
}
