.c-reset-password, .c-request-password {
  background-color: $color-white;
  padding: $global-spacing-unit;
}

.c-reset-password__buttons, .c-request-password__buttons{
  margin-top: $global-spacing-unit;
}

.c-about-insight {
  background-image: $global-gradient-primary-v1;
  padding: $global-spacing-unit;
  color: $color-white;
  margin-top: $global-spacing-unit;

  @include mq($from: tablet-landscape) {
    margin-top: 0;
  }
}

.c-about-insight__heading {
  color: $color-white;
}

.c-about-insight__buttons {
  padding-top: $global-spacing-unit-huge;
}

.c-reset-password__error, .c-request-password__error {
  color: $color-red;
  font-weight: $global-font-weight-bold;
}

.c-reset-password__error-icon, .c-request-password__error-icon {
  margin-right: $global-spacing-unit-tiny;
}
