.c-deal__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $global-spacing-unit-large 0;
}

.c-deal__groups {
    margin-top: $global-spacing-unit-large;
}

.c-deal__groups.is-universal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c-deal__group {
    display: flex;
    flex-direction: column;
    margin-bottom: $global-spacing-unit-large - $global-spacing-unit;
    background-color: #fff;
}

.c-deal__group.is-universal {
    width: 30%;
}

.c-deal__group-title {
	display: flex;
	align-items: center;
	height: $global-spacing-unit-large;
	padding-left: $global-spacing-unit;
	background-color: $color-warm-gray-2;    
}

.c-deal__group-title__text {
    margin-bottom: 0;
}

.c-deal__inputs {
    padding: $global-spacing-unit-small $global-spacing-unit;
}

.c-deal__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $global-spacing-unit;
}

.c-deal__emails-actions {
    .c-button {
        justify-content: center;
    }
}

.c-deal__email {
    position: relative;
    margin-bottom: $global-spacing-unit-small;
}

.c-deal__email-remove {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
}

.c-deal__field-wrapper {
    position: relative;
}

.c-deal__field {
    width: 100%;
    margin: 10px 0;
}


// Style classes
$user-provided-styles: (
    blue: $color-blue,
    deep-pink: $color-deep-pink,
    fuchsia: $color-fuchsia,
    gray: $color-warm-gray-8,
    primary: $color-primary,
    red: $color-red,
    red-fuchsia: $color-red-fuchsia,
    text: $color-text,
    turquoise: $color-turquoise
);

@each $name, $color in $user-provided-styles {
    .c-deal__group--#{$name} {
        .c-deal__group-text {
            color: $color;
        }
    }
    .c-deal__field--#{$name} {
        .c-form__help {
            color: $color;
        }
    }
}

.c-deal__group--bold {
    font-weight: bold;
}

.c-deal__group--italic {
    font-style: italic;
}

.c-deal__field--bold {
    .c-form__help {
        font-weight: bold;
    }
}

.c-deal__field--italic {
    .c-form__help {
        font-style: italic;
    }
}


