.c-paymetric-iframe #html-main-content{
  padding: 0;
}
.c-paymetric-iframe {
  width: 100%;
  height: 380px;
}

.c-paymetric-error {
  border: none;
  margin: $global-spacing-unit-small;
}

.c-paymetric-iframe {
  border: none;
}


