.c-recently-viewed-items, .c-recommended-items {
  padding: $global-spacing-unit $global-spacing-unit-small;
  background-color: $color-white;
  border: 1px solid $color-warm-gray-5;
  margin-bottom: $global-spacing-unit-small;
}
