.c-app-quote-details {
  @include mq($until: tablet) {
    padding: $global-spacing-unit-small 0 $global-spacing-unit-small;
  }
  padding: 1rem 1rem 2rem;
  background-color: $color-warm-gray-custom-light;

  &__card {
    border: 1px solid $color-warm-gray-5;
  }

  &__message {
    border: none;
    color: $color-red-fuchsia;
    font-size: $global-font-size-small;
    margin: 0;
    padding: 0;
  }

  &__info {
    @include mq($from: tablet) {
      display: flex;
      gap: 2rem;
    }
  }

  &__id {
    font-weight: $global-font-weight-bold;
    font-family: $global-font-family-body;
    color: $color-turquoise;
  }

  &__converted,
  &__expired,
  &__summary-expired {
    font-weight: $global-font-weight-bold;
    color: $color-red;
    font-size: $global-font-size-small;
  }

  &__summary-expired {
    text-align: center;
  }

  @include mq($until: tablet) {
    .c-app-quote-details__actions {
      text-align: right !important;
    }
  }

  @include mq($until: mobile-landscape) {
    .c-app-quote-details__converted-tag .o-grid__item:nth-child(2) {
      width: 210px;
    }
  }

  &__actions {
    text-align: right;
    &__action {
      padding: 0;
    }
    .c-app-quote-details__links {
      padding-bottom: 0;
      padding-left: 0;
    }
  }
  &__top {
    gap: $global-spacing-unit-small;
  }
  &__bottom {
    margin-top: 10px;
    border: 1px solid $color-warm-gray-5;

    .c-tabs__item {
      color: $color-red-fuchsia;

      button {
        font-weight: $global-font-weight-bold;
      }
    }

    .c-tab__content {
      margin-top: 0;
      padding: 15px;
    }
  }

  &__adddetails {
    &__adddetails-heading {
      font-weight: $global-font-weight-bold;
    }
  }

  &__heading {
    margin-bottom: $global-spacing-unit-small - 2;
  }
}
