@charset 'utf-8';

.add-to-cart {
  @include breakpoint(large) {
    justify-content: flex-end;
  }

  &__btn-wrapper {
    margin-left: $orders-spacing-medium;
  }

  &__confirmation {
    color: $success-color;
    font-size: $font-size-small;
    font-weight: $global-weight-bold;
    margin-bottom: $orders-spacing-medium;
    text-align: center;
  }
}
